/* Mobile Devices */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
    }
    #course-title{
        text-align:unset;
    }
}
/* tablet Device */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
}